<div class="container">
    <div class="card p-4 mt-4">
      <form [formGroup]="form" (ngSubmit)="enviarForm()">
        <div class="row">
          <div class="form-group col-md-6">
            <label class="form-label" for="dni">DNI</label>
            <input type="text" class="form-control" id="dni" formControlName="dni">
            <small class="text-danger" *ngIf="dni?.hasError('pattern')">
              El DNI debe contener solo números
            </small>
          </div>
          <div class="form-group col-md-6">
            <label class="form-label" for="nombre">Nombre</label>
            <input type="text" class="form-control" id="nombre" formControlName="nombre">
            <small class="text-danger" *ngIf="nombre?.hasError('pattern')">
              El nombre debe contener solo letras
            </small>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-6">
            <label class="form-label" for="apellido">Apellido</label>
            <input type="text" class="form-control" id="apellido" formControlName="apellido">
            <small class="text-danger" *ngIf="apellido?.hasError('pattern')">
              El apellido debe contener solo letras
            </small>
          </div>
          <div class="form-group col-md-6">
            <label class="form-label" for="edad">Edad</label>
            <input type="number" class="form-control" id="edad" formControlName="edad">
            <small class="text-danger" *ngIf="edad?.hasError('min') || edad?.hasError('max')">
              La edad debe estar entre 18 y 65 años
            </small>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-6">
            <label class="form-label" for="capacidadTransporte">Capacidad de Transporte (potes de helado)</label>
            <input type="number" class="form-control" id="capacidadTransporte" formControlName="capacidadTransporte">
            <small class="text-danger" *ngIf="capacidadTransporte?.hasError('min')">
              La capacidad de transporte debe ser mayor a 0
            </small>
          </div>
          <div class="form-group col-md-6">
            <label class="form-label" for="unidadPropia">Unidad Propia</label>
            <select class="form-control" id="unidadPropia" formControlName="unidadPropia">
              <option [ngValue]="true">Sí</option>
              <option [ngValue]="false">No</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-12">
            <label class="form-label" for="pais">País de Origen</label>
            <input type="text" class="form-control" id="pais" [value]="repartidor.pais" readonly>
          </div>
        </div>
        <button type="submit" class="cargarRepartidor btn btn-primary w-25 mt-4">Cargar</button>
      </form>
    </div>

    <app-tabla-paises (paisSeleccionado)="repartidor.pais = $event"></app-tabla-paises>
  </div>
  
  <router-outlet></router-outlet>
  